{{#game}}
    <p><a href="/games">Go back to Game List</a></p>
    <h1>Game {{id}}</h1>
    <p>State : {{state}}</p>
    <p>Players : {{playerNames}}</p>
    {{#if isOpen}}
        <form action= "/games/join" method= "post">
            <input type= "hidden" name= "gameId" value= "{{id}}">
            Username: <input type="text" name= "username">
            <button>Join this game</button>
        </form>
    {{/if}}
{{/game}}
