{{#game}}

    <p><a href='/games'>Go back to Game List</a></p>

    <h1>Game {{id}}</h1>
    <p>state : {{state}}</p>
    <p>players : {{playerNames}}</p>

    {{#if isOpen}}
        <button onclick= location.href='/games/{{id}}/join' type= button>Join this game</button>
    {{/if}}

{{/game}}
